doctype html
html
  head
    title test thing
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/index.js')
  body
    header
      h1 Twitter Clock
    section
      div
        #hour_right
        time#hour_center
        #hour_left
      div
        p +
        p +
        p +
      div
        #minute_right
        time#minute_center
        #minute_left
      div
        p +
        p +
        p +
      div
        #minute2_right
        time#minute2_center
        #minute2_left




