body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.time {
    font-size: 30px;
    color: #0084B4;
}

.bg-blue {
	background: #F5F8FA;
	padding: 10px 10px 10px;
	position: relative;
	width: 50%;
}

.bg-body {
	background: #C0DEED;
	padding: 5px 5px 5px 5px;
}

.row-centered {
	text-align: center;
}

.thing {
	margin: auto;
	width: 100%;
	overflow: hidden;

}

@media (max-width: 480px) {
	.bg-blue {
		background: #F5F8FA;
		padding: 10px 10px 10px;
		position: relative;
		width: 80%;
	}
}

